@charset "UTF-8";

body {
    background-color:gainsboro;
}
h1 {
    color: rgb(0, 0, 255);
    font-family:Arial;
}
h2 {
    color:darkgoldenrod;
    font-family:Georgia;
}
p {
    font-family: Verdana;;
}