@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'Round Six';
    src: url('fonts/game_of_squids.otf') format('opentype'), url('fonts/game_of_squids.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font: italic bolder 2em 'Round Six', normal
}

h2 {
    font: italic bolder 1em 'Kaushan Script', cursive;
}

